body {
 margin: 0;
 padding: 0;
}
.form {
    display: grid;
    grid-template-columns: 25%;
    background-color: black;
    padding: 1%;
}
.input {
    margin: 1%;
    width: 90%;
    border-radius: 10em;
}
.submit {
    display: none;
}